# Core requirements for Ultroid Heroku deployment
telethon
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
heroku3
gitpython
psutil
pypdf2>=1.26.0
pytz
qrcode
tgcrypto
yt-dlp
flask
